:root{
    box-sizing: border-box;
    weight:0;
    height: 0;
}
.title{
    width: 91px;
    height: 40px;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #151B32;
    margin: 100px 0 24px 100px;
    display: block;
}
.top-wrapper{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-wrapper{
    width: 327px;
    height: 64px;
    border: 1px solid rgba(191, 200, 229, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.search-icon{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.search-input{
    font-family: 'Poppins';
    font-size: 16px;      
    border: none;
    flex: 1; /*cho phần input chiếm hết khung còn lại*/
}
.button-wrapper{
    width: 534px;
    height: 56px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    border: none;
    margin-left: 152px;
}
.link{  
    font-size: 16px;
    padding: 16px;
    
}
.link-index{
    background-color: rgba(132, 159, 255, 1);
    border-radius: 8px;
    color:white;
}
.bottom-wrapper{
    width: auto;
    height: 208px;
    margin: 100px 100px 0 100px;
    background-color: #FBFCFF;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-wrapper{
    height: auto;
    Width: fit-content;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 16px;
}
.avatar{
    width: 97px;
    height: 97px;
    margin-right: 16px;
    padding-left: 24px;
    padding-top: 24px;
}
.name-wrapper{
    margin-right: 65px
}
.identity{
    padding-top: 20px;

}
.full-name{
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #151B32;
    font-weight: 900;
    margin-bottom: 4px;
}
.address{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-top: 4px;
    color: #151B32;
    
}
.item-wrapper{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 112px;
    height: 22px;
}   
.item{
    height: 22px;
    width: fit-content;
    padding: 2px, 8px;
    border: 1px solid#BFC8E6;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #516FD5;

}
